/*formatações gerais*/
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@font-face {
  font-family: 'bitterregular';
  src: url('bitter-regular-webfont.woff2') format('woff2'),
       url('bitter-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansregular';
  src: url('opensans-regular-webfont.woff2') format('woff2'),
       url('opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
	margin: 0 auto;
	line-height: 1.71429;
    height: 100%;
    font-family: 'open_sansregular', sans-serif;
    background-color: #f7f7f7;
} 

h1 {
  font-family: 'bitterregular', serif;
}

.section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 35px;
  margin-bottom: 50px;
}
.title {
  display: flex;
  margin-left: 10%;
}
/*************header************/
#header{
  display: flex;
  justify-content: space-around; 
  height: 73px;
  background-color: #ffe521;
  
}
.containerHeader{
  position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     z-index: 1; 
}
.headerLogo {
  align-self: center;
  text-align: center;
  margin-top: 20px;
  flex-grow: 2;
}


#login{
  align-self: center;
  margin: 30px;
  display: flex;
} 
#login span{
 margin-left: 11px;
   /* align-items: center; */
   text-align: center;
}
.user{
  width: 50px;
  /*border: 0.8px black solid;*/
  height: 50px;
  border-radius: 50%;
 /* background-color: #ff009e;*/
 background-color: #56f89a;
}
#logOut{
background-color: #56f89a;
width: 50px;
height: 20px;
border: none;
border-radius: 12px;
align-self: flex-end;
margin-left: 60px;
}

.user h3{
  margin:8px;
  font-size: 1.5em;
}

.icon-user{
  margin: 2px 0px 0px 7px;
  /* margin: 8px; */
  font-size: 2.0em;
  padding: 0;
}
/***************SEÇÃO MENU********/
.sp {
  display: block;
  height: 180px; /*same height as header*/
  margin-top: -180px; /*same height as header*/
  visibility: hidden;
}

#menuAncora{
  display: flex;
 justify-content: flex-end;
 background-color: white;
 height: 72px;
}
#menuSede{
list-style-type: none;
display: flex;
font-size: 16PX;
}
#menuSede li {
margin:20px;
text-decoration:none; 
color: pink;
}
#menuSede li  a {
text-decoration: none;
color: black;
border-bottom: 1.2px solid #ff009e;
/*border-bottom: 1.2px solid #56f89a;*/
}
.icon-user{
  margin: 2px 0px 0px 7px;
  /* margin: 8px; */
  font-size: 2.0em;
  padding: 0;
}

/***************SEÇÃO FOOTER********/

#footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  color: white;
  height: 170px;
  width: 100%;
  background-color: #000000;
}

#contact-info {
  display: flex;
  flex-flow: column wrap;
  width: 500px;
  height: 100%;
  align-items: center;
  font-size: 14px;
}

#contact {
  align-self: flex-start;
}

#contato {
  font-size: 20px;
}

#info {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 500px;
  height: 100px;
}

/* ALUNAS */


#studentsList{ 
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.newDiv {
  width: 100px;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 25px;
}